In [ ]:
a= 20
b=15
if (a<b):
  print( a, " is small")
elif(a==b):
  print("both equal")
else:
  print(b, "is bigger")

15 is bigger

In [ ]:
n = int(input("enter number  "))
for i in range(0,n+1,2):
  print(i)

enter number  10
0
2
4
6
8
10

In [ ]:
i=0
while i<10:
  print(i)
  i=i+1

0
1
2
3
4
5
6
7
8
9

In [ ]:
sum =0
while True:
  i = (input(" enter num : "))
  if i=="" :
    break
    sum=sum+int(i)
print("sum is ",sum)

 enter num : 10
 enter num : 0
 enter num : 30
 enter num : 20
 enter num :
sum is  0

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end='')
  print()

1
22
333
4444
55555

In [ ]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(i,end='')
  print()

55555
4444
333
22
1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [ ]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end='')
  print()

5
54
543
5432
54321

In [ ]:
a=[]
while True:
  s=input("enter no.  ")
  if (s==""):
    break
  a.append(int(s))
print(a)

enter no.  1
enter no.  2
enter no.  3
enter no.  4
enter no.
[1, 2, 3, 4]

In [ ]:
def add (a,b):
  c=a+b
  print(c)

In [ ]:
add(5,6)

11

In [ ]:
def minimum(no1,no2):
    if no1<no2:
        return no1
    else:
        return no2

In [ ]:
minimum(4,9)

4

In [ ]:
def power(x,n):
    print(x**n)

In [ ]:
power(2,4)

16