In [ ]:
# assignment 3april
class Rectangle:
  def __init__(self):
    self.length=int(input("enter length"))
    self.width=int(input("enter width"))
  def Perimeter(self):
    self.Perimeter=(2*(self.length + self.width))
    print("perimeter is :",self.Perimeter)
  def area(self):
    self.area=self.length*self.width
    print("area is : ",self.area)
  def display(self):
    print("Length : ",self.length)
    print("Width : ",self.width)
    print("Perimeter : ",self.Perimeter)
    print("Area : ",self.area)      
class Parallelepipede(Rectangle):
  def __init__(self):
    Rectangle.__init__(self)
    self.heigth=int(input("enter heigth"))
  def volume(self):
    self.volume=(self.heigth*self.length*self.width)
    print("volume is : ",self.volume)

In [ ]:
r=Rectangle()

enter length18
enter width12

In [ ]:
r.Perimeter()
r.area()

perimeter is : 60
area is :  216

In [ ]:
r.display()

Length :  18
Width :  12
Perimeter :  60
Area :  216

In [ ]:
p=Parallelepipede()
p.volume()

enter length18
enter width12
enter heigth15
volume is :  3240

In [ ]:
# 2 
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def display(self):
      print("Name : ",self.name,"Age :",self.age)
class Student(Person):
  def __init__(self,name,age,section):
    Person.__init__(self,name,age)
    self.section=section
  def displayStudent(self):
    print("Name of student :",self.name,"Age is : ",self.age,"and section is :",self.section)

In [ ]:
p=Person("Ram","25")
p.display()

Name :  Ram Age : 25

In [ ]:
s=Student("Ram","25","DBDA")
s.displayStudent()

Name of student : Ram Age is :  25 and section is : DBDA

In [ ]:
# 3
class BankAccount:
  def __init__(self):
    self.accountNumber=int(input("enter number : "))
    self.name=input("Enter the name : ")
    self.balance=int(input("Enter balance : "))
  def Deposit(self):
    self.DepositeAmmount=int(input("enter ammount : "))
    self.balance=self.balance + self.DepositeAmmount
    print("Deposited ammount : ",self.DepositeAmmount)
  def Withdrawal(self):
    self.Withdrawal=int(input("enter ammount : "))
    if self.balance > self.Withdrawal:
       self.balance=self.balance - self.Withdrawal
    else: 
      print("Low balance")  
    print("Withdrawal ammount : ",self.Withdrawal)  
  def bankFees(self):
    self.bankFees=(self.balance*0.05)
  def  display(self):
    print("Account number : ",self.accountNumber)
    print("Name : ",self.name)
    print("Balance : ",self.balance)

In [ ]:
b=BankAccount()

enter number : 8489652168949
Enter the name : Ram
Enter balance : 15000

In [ ]:
b.Deposit()
b.Withdrawal()

enter ammount : 5000
Deposited ammount :  5000
enter ammount : 3000
Withdrawal ammount :  3000

In [ ]:
b.display()

Account number :  8489652168949
Name :  Ram
Balance :  17000

In [ ]:
#4
class Book:
  def __init__(self):
    self.title=input("Enter title of book : ")
    self.Auther=input("Enter auther name : ")
    self.price=int(input("enter price : "))
  def view(self):
    self.view=int(input("enter value to see details of book : "))
    print("Details of book are given below :")
  def display(self):
    print("Title of book : ",self.title)
    print("Auther name : ",self.Auther)
    print("price : ",self.price)

In [ ]:
b=Book()

Enter title of book : The journey
Enter auther name : Prathamesh Satpute
enter price : 999

In [ ]:
b.view()
b.display()

enter value to see details of book : 1
Details of book are given below :
Title of book :  The journey
Auther name :  Prathamesh Satpute
price :  999

In [ ]:
#5
class TK_extended:
  def Master(self,name="window"):
    self.name=name
    print("name of window : ",name)
  def title(self,title="new win"):
    self.title=title
    print("title of window : ",title)
  def createwindow(self):
    self.width=int(input("Enter width : "))
    self.heigth=int(input("Enter height : "))
    print("Current size of window : ",self.width,"x",self.heigth)
  def resizewindow(self):
    self.width=int(input("Enter new width : "))
    self.heigth=int(input("Enter new height : "))
  def generate(self):  
    print("New generated size of window : ",self.width,"x",self.heigth)

In [ ]:
t=TK_extended()

In [ ]:
t.Master()
t.title()

name of window :  window
title of window :  new win

In [ ]:
t.createwindow()

Enter width : 50
Enter height : 40
Current size of window :  50 x 40

In [ ]:
t.resizewindow()
t.generate()

Enter new width : 40
Enter new height : 30
New generated size of window :  40 x 30

In [ ]:
#6
class Vehicle:
  def __init__(self,name,topspeed,mileage,color="white"):
    self.name=name
    self.topspeed=topspeed
    self.mileage=mileage
    self.color=color
  def details(self):
    print("Name is :",self.name,"Top speed is : ",self.topspeed,"Mileage is : ",self.mileage,"color is : ",self.color)  
class Bus(Vehicle):
  def __init__(self,name,topspeed,mileage,color="white"):
    Vehicle.__init__(self,name,topspeed,mileage,color="white")
  def detailsbus(self):
    print("Name is :",self.name,"Top speed is : ",self.topspeed,"Mileage is : ",self.mileage,"color is : ",self.color)

In [ ]:
v=Vehicle("Tata",120,18)
v.details()

Name is : Tata Top speed is :  120 Mileage is :  18 color is :  white

In [ ]:
b=Bus("tata",100,10)
b.detailsbus()

Name is : tata Top speed is :  100 Mileage is :  10 color is :  white