Python program to interchange first and last elements in a list
Given a list, write a Python program to swap first and last element of the list.
Examples: 
Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [ ]:
#method 1
l= [12, 35, 9, 56, 24]

l[0],l[-1]=l[-1],l[0]
print(l)

[24, 35, 9, 56, 12]

In [ ]:
l= [0,1,2,3,4,5]
for i in range(0,len(l),2):
  l[i],l[i+1]=l[i+1],l[i]
print(l)

[1, 0, 3, 2, 5, 4]

WAP to find length of list
The list is : [1, 4, 5, 7, 8]
Length of list is : 5

In [ ]:
a=[1, 4, 5, 7, 8]
len(a)

5

In [ ]:
a=[1, 4, 5, 7, 8]

counter =0
for i in a:
  counter= counter+1

print("length of list" ,counter)

length of list 5

WAP to Check if element exists in list 

Checking if 4 exists in list : 
Element Exists

In [ ]:
a=[1, 4, 5, 7, 8]

e =4
if e in a:
  print("no. present in list")
else:
  print("not present")

no. present in list

In [ ]:
for i in a:
  if i==4:
    print("no. is present")
  else:
    continue
    print("not present")

no. is present

In [ ]:
temp = a.count(e)

if temp > 0:
  print(True)
else:
  print(False)

True

WAP to clear a list
before clear: [6, 0, 4, 1]

In [ ]:
l=[6, 0, 4, 1]
l.clear()
l

[]

In [ ]:
print(l)
l = l * 0
print("list after clear ",l)

[]
list after clear  []

In [ ]:
l=[6, 0, 4, 1]
print(l)
l=[]
print(l)

[6, 0, 4, 1]
[]

In [ ]:
l=[6, 0, 4, 1]

while (len(l)>0):
  i=0
  l.remove(l[i])

print(l)

[]

WAP to Reversing a List
Input : list = [10, 11, 12, 13, 14, 15]
Output : [15, 14, 13, 12, 11, 10]
 
Input : list = [4, 5, 6, 7, 8, 9]
Output : [9, 8, 7, 6, 5, 4]

In [ ]:
#method 1
list = [10, 11, 12, 13, 14, 15] 
list[::-1]

[15, 14, 13, 12, 11, 10]

In [ ]:
s='asdfghjfds'
a=s[::-1]
a

'sdfjhgfdsa'

In [ ]:
#method 2

for i in range(len(list)-1,-1,-1):
  print(list[i])

15
14
13
12
11
10

In [ ]:
list = [10, 11, 12, 13, 14, 15] 
list.reverse()
list

[15, 14, 13, 12, 11, 10]

In [ ]:
list1 = [10, 11, 12, 13, 14, 15] 
a =list(reversed(list1))
print(a)

TypeError: ignored

Given a list of numbers, write a Python program to find the sum of all the elements in the list.
Example: 
 
Input: [12, 15, 3, 10]
Output: 40
 
Input: [17, 5, 3, 5]
Output: 30

In [ ]:
a= [12, 15, 3, 10]
print(sum(a))

In [ ]:
sum =0
for i in a:
  sum= sum + i
print("sum is ",sum)

Given a list of numbers, the task is to write a Python program to find the second largest number in the given list.
Examples: 
Input: list1 = [10, 20, 4]
Output: 10
Input: list2 = [70, 11, 20, 4, 100]
Output: 70

In [ ]:
list2 = [70, 11, 20,70, 4, 100]
list2.sort()
print(list2)
print(list2[-2])

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
mx=max(list1[0],list1[1])
secondmax=min(list1[0],list1[1])
n =len(list1)
for i in range(2,n):
    if list1[i]>mx:
        secondmax=mx
        mx=list1[i]
    elif list1[i]>secondmax and \
        mx != list1[i]:
        secondmax=list1[i]
 
print("Second highest number is : ",\
      str(secondmax))

Given a list of integers, the task is to find N largest elements assuming size of list is greater than or equal o N.
Examples :
Input : [4, 5, 1, 2, 9] 
        N = 2
Output :  [9, 5]
 
Input : [81, 52, 45, 10, 3, 2, 96] 
        N = 3
Output : [81, 96, 52]

In [ ]:
a =[81, 52, 45, 10, 3, 2, 96]
n=3
a.sort()
print(a)
print(a[-(n):])

In [ ]:
a =[81, 52, 45, 10, 3, 2, 96]
a.sort()
print(a)
n=3
for i in range(-1,-n-1,-1):
    print(a[i])

Given a list of numbers, write a Python program to remove multiple elements from a list based on the given condition.
Example: 
Input: [12, 15, 3, 10]
Output: Remove = [12, 3], New_List = [15, 10]

In [ ]:
a=[12, 15, 3, 10]
b=[12,3,2]
for i in b:
  if i in a:
     a.remove(i)
print(a)

In [ ]:
a=[12, 15, 3, 10]
a.remove(12)
a.remove(3)
print(a)

Input: [11, 5, 17, 18, 23, 50]
Output: Remove = [1:5], New_list = [11, 50]

In [ ]:
s=[11, 5, 17, 18, 23, 50]
b=s[1:5]
print(b)
for i in b:
  if i in s:
    s.pop(s.index(i))
print(s)

In [ ]:
s=[11, 5, 17, 18, 23, 50]
b=s[1:5]
print(b)
for i in b:
  if i in s:
    s.remove(i)
print(s)

Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10]
              x = 10
Output : 3 
10 appears three times in given list.

In [ ]:
list = [15, 6, 7, 10, 12, 20, 10, 28, 10]
a=10
count=0
for i in list:
  if a==i:
    count =count+1

print(count)

In [ ]:
list = [15, 6, 7, 10, 12, 20, 10, 28, 10]
a=list.count(10)
print(a)

Given a list of integers with duplicate elements in it. The task to generate another list, which contains only the duplicate elements. In simple words, the new list should contain the elements which appear more than one.
Examples : 
Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

In [ ]:
list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
#s=set(list)
b=[]
c=[]
for i in list:
    if i not in b:
        b.append(i)
    else:
        c.append(i)
print(set(c))
print(b)

In [ ]:
list1 = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
set1=set(list1)
list2=[]
for i in set1:
    c=0
    for j in list1:
        if i==j:
            c+=1
    if c>1:
        list2.append(i)
print(list2)

Python program to find Cumulative sum of a list
The problem statement asks to produce a new list whose i^{th} element will be equal to the sum of the (i + 1) elements.
Examples : 
 
Input : list = [10, 20, 30, 40, 50]
Output : [10, 30, 60, 100, 150]

In [ ]:
list = [10, 20, 30, 40, 50]
l=[]
a=0
for i in range(len(list)):
  a=a+list[i]
  l.append(a)
print(l)

In [ ]:
a = [10, 20, 30, 40, 50]
l=[]
s=0
for i in  a:
  s=s+i
  l.append(s)
print(l)

In [ ]:
list1 = [10, 20, 30, 40, 50]
list2=[]
for i in range(0,len(list1)):
    if i!=0:
        a=list2[i-1]+list1[i]
        list2.append(a)
    else:
        list2.append(list1[i])

print(list2)

Break a list into chunks of size N in Python
Input: [1, 2, 3, 4, 5,6, 7, 8, 9]
Output: [[1, 2, 3, 4], [5, 6, 7, 8], [9]]

In [ ]:
l1=[1, 2, 3, 4, 5,6, 7, 8, 9]
n=4
l2=[]
for i in range(0,len(l1),n):
    l4=l1[i:i+n]
    l2.append(l4)
    
print(l2)

Remove common elements from two list in Python

In [ ]:
a=[1, 2, 3, 4, 5,6, 7, 8, 9]
c=sorted(a)
b=[3,5,7,9,8,4,11,12,1]

for i in c:
  if i in b:
    a.remove(i)
    b.remove(i)
print(a)
print(b)

In [ ]:
list = [10, 20, 30, 40,50] 
l=sorted(list)
list2 = [4, 10, 15, 18, 20]
for i in l:
  if i in list2:
    list.remove(i)
    list2.remove(i)
print(list)
print(list2)

In [ ]:
list = [10, 20, 30, 40,50] 
a= tuple(list)
a

In [ ]:
a=(10, 20, 30, 40, 50)

b=list(a)
b

In [ ]:
a= [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]
b=[]
c=[]
for i in a:
  if i not in b:
    b.append(i)

  else:
    c.append(i)
  
print(b)

In [ ]:
a=[]
for i in range(20):
    if i%2==0 or i%5==0:
        a.append(i)
print(int(sum(a)/25))

4

In [ ]:
x,y=0,1
while y<30:
    x,y=y,x+y
print(y)

34