In [ ]:
# 1.Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from the second.
listOne=[3,6,9,12,15,18,21]
listTwo=[4,8,12,16,20,24,28]
a=listOne[1::2]
b=listTwo[0::2]
print("Element at odd-index positions from list one :",a)
print("Element at even-index positions from list two :",b)
a.extend(b)
print("final list :",a)

Element at odd-index positions from list one : [6, 12, 18]
Element at even-index positions from list two : [4, 12, 20, 28]
final list : [6, 12, 18, 4, 12, 20, 28]

In [ ]:
# 2.Given a number count the total number of digits in a number.
n=input("Enter the number : ")
print("The total number of digits in a number : ",len(n))

Enter the number : 123456
The total number of digits in a number :  6

In [ ]:
# 3.Write a Python program to print the numbers of a specified list after removing even numbers from it.  
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for n in a:
  if n%2!=0:
   print(n,end='  ')

1  3  5  7  9  11  13  15

In [ ]:
# 4.Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30 (both included).
a=[]
for i in range(1,31):
    a.append(i**2)
print(a,end=' ')
print("First 5 no. ",a[ :5])
print("Last 5 no. ",a[-5: ])
print()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900] First 5 no.  [1, 4, 9, 16, 25]
Last 5 no.  [676, 729, 784, 841, 900]

In [ ]:
# 5.Write a Python program to generate all permutations of a list in Python.
a=[1,2,3]
b=[]
for i in a:
  for j in a:
    for k in a:
      if i!=j:
        if j!=k:
          if k!=i:
             print([i,j,k],end='')

[1, 2, 3][1, 3, 2][2, 1, 3][2, 3, 1][3, 1, 2][3, 2, 1]

In [ ]:
# 6.Write a python program to check whether two lists are circularly identical.

In [ ]:
# 7. Write a Python program to change the position of every n-th value with the (n+1)th in a list.
a=[0,1,2,3,4,5]
for i in range(0,len(a),2):
   a[i],a[i+1]=a[i+1],a[i]
print(a)

[1, 0, 3, 2, 5, 4]

In [ ]:
# 8. Write a Python program to iterate over two lists simultaneously.
a=[1,2,3,4,5]
b=[6,7,8,9,0]
for i in range(0,len(a)):
  for j in range(i,i+1):
    print(a[i],b[j])

1 6
2 7
3 8
4 9
5 0

In [ ]:
# 8 other type solution 
list1=[1,2,3,4,5]
list2=['sun','mon','tue','wed','thu','fri','sat']
for a,b in zip(list1,list2):
        print(a,b)

1 sun
2 mon
3 tue
4 wed
5 thu

In [ ]:
# 9.Write a Python program to generate the combinations of n distinct objects taken from the elements of a given list. Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9] Combinations of 2 distinct objects: [1, 2] [1, 3] [1, 4] [1, 5] .... [7, 8] [7, 9] [8, 9]
a=[1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in a:
  for j in a:
    print([i,j],end=' ')

[1, 1] [1, 2] [1, 3] [1, 4] [1, 5] [1, 6] [1, 7] [1, 8] [1, 9] [2, 1] [2, 2] [2, 3] [2, 4] [2, 5] [2, 6] [2, 7] [2, 8] [2, 9] [3, 1] [3, 2] [3, 3] [3, 4] [3, 5] [3, 6] [3, 7] [3, 8] [3, 9] [4, 1] [4, 2] [4, 3] [4, 4] [4, 5] [4, 6] [4, 7] [4, 8] [4, 9] [5, 1] [5, 2] [5, 3] [5, 4] [5, 5] [5, 6] [5, 7] [5, 8] [5, 9] [6, 1] [6, 2] [6, 3] [6, 4] [6, 5] [6, 6] [6, 7] [6, 8] [6, 9] [7, 1] [7, 2] [7, 3] [7, 4] [7, 5] [7, 6] [7, 7] [7, 8] [7, 9] [8, 1] [8, 2] [8, 3] [8, 4] [8, 5] [8, 6] [8, 7] [8, 8] [8, 9] [9, 1] [9, 2] [9, 3] [9, 4] [9, 5] [9, 6] [9, 7] [9, 8] [9, 9]

In [ ]:
# 10. Write a Python program to remove duplicates from a list of list.
list1=[[10, 20], [40], [30, 56, 25], [10, 20], [33],[40]]
list1.sort()
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
print(list2)

[[10, 20], [30, 56, 25], [33], [40]]

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = [i for i in l1 if i%2==1]
print(l2)

[1, 3, 5, 7, 9]

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
  if i%2==0:
    print(i)

2
4
6
8
10