In [ ]:
a= 10
b= 20

In [ ]:
a,b =b,a

In [ ]:
print(a)
print(b)

20
10

In [ ]:
s="parikshit"
a=s[0::2]
b=s[1::2]
print(a)
print(b)

prkht
aisi

In [ ]:
s="1234899651234489"
a=[]
b=[]
for i in range(0,len(s)):
  if(i%2==0):
    a.append(s[i]);
  else:
    b.append(s[i]);

In [ ]:
print(a)
print(b)

['1', '3', '8', '9', '5', '2', '4', '8']
['2', '4', '9', '6', '1', '3', '4', '9']

In [ ]:
a=[0,2,3,3,5,6,6,8,9,8]
true=[]
false=[]
for i in range(len(a)):
    if i%2==a[i]%2:
        print("true at",i)
        true.append(i)
    else:
        print("false at",i)
        false.append(i)
print("true values are ",true)
print("false values are ",false)

true at 0
false at 1
false at 2
true at 3
false at 4
false at 5
true at 6
false at 7
false at 8
false at 9
true values are  [0, 3, 6]
false values are  [1, 2, 4, 5, 7, 8, 9]