In [ ]:
for i in range(1,6,1):    #2
  for j in range(1,i+1,1):
    print(i,end='')
  print()

1
22
333
4444
55555

In [ ]:
for i in range(1,6,1):         #1
  for j in range(1,i+1,1):
    print(j,end='')
  print()

1
12
123
1234
12345

In [ ]:
s={1,2,3}
a={4,5,6}
s | a

{1, 2, 3, 4, 5, 6}

In [ ]:
for i in range(1,6,1):     #3
  for j in range(1,i+1,1):
    print(j,end='')
  print() 
for i in range(4,0,-1):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234
12345
1234
123
12
1

In [ ]:
s^a

{1, 2, 3, 4, 5, 6}

In [ ]:
for i in range(5,0,-1):    #4
  for j in range(1,i+1):
    print(j,end='')
  print()
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end='')
  print()

12345
1234
123
12
1
1
12
123
1234
12345

In [ ]:
#5
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j,end='')
  print() 
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end='')
  print()

54321
4321
321
21
1
1
21
321
4321
54321

In [ ]:

for i in range(1,6):                      #6
     print(' '*(5-i),end='')
     for j in range(1,i+1):
         print(j,end=' ')
     print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):       #7
  for j in range(5,i-1,-1):
    print(j,end='')
  print()

54321
5432
543
54
5

In [ ]:
for i in range(5,0,-1):       #8
  for j in range(5,i-1,-1):
    print(j,end='')
  print()

5
54
543
5432
54321

In [ ]:
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end='')
  print()

5
54
543
5432
54321

In [ ]:
for i in range(5,0,-1):          #9
   for j in range(1,i+1):
     print(j,end='')
   print()

12345
1234
123
12
1

In [ ]:
#10
r=int(input("Enter the number of rows :"))
k=1
for i in range(1,r+1):
  for j in range(1,i+1):         
    print(k,end=' ')
    k+=1
  print()

Enter the number of rows :5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
#11
for i in range(1,6):
  for j in range(i,0,-1):
    print(j,end='')
  print()

1
21
321
4321
54321

In [ ]:
#12
n=int(input("enter no.of row :"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end=' ')
    i+=5
  print()

enter no.of row :5
1
2 7
3 8 13
4 9 14 19
5 10 15 20 25

In [ ]:
#13

In [ ]:
#14
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  for j in range(i-1,0,-1):
    print(j,end=' ')  
  print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#15
for i in range(5,0,-1):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
#16
for i in range(1,6):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print() 
for i in range(4,0,-1):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(j,end=' ')
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
#17
for i in range(1,6):
  print(' '*(i-1),end=' ')
  for j in range(i,6):
    print(j,end=' ')
  print() 
for i in range(5,0,-1):
  print(' '*(i-1),end=' ')
  for j in range(i,6):
    print(j,end=' ')
  print()

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [ ]:
#18
for i in range(1,6):
  print(' '*(i-1),end=' ')
  for j in range(i,6):
    print(j,end=' ')
  print() 
for i in range(5,0,-1):
  print(' '*(i-1),end=' ')
  for j in range(i,6):
    print(j,end=' ')
  print()

 1 2 3 4 5
  2 3 4 5
   3 4 5
    4 5
     5
     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [ ]:
#19
for  i in range(5,0,-1):
  print(' '*(i-1),end=' ')
  for j in range(i,6):
    print(j,end=' ')
  print()

     5
    4 5
   3 4 5
  2 3 4 5
 1 2 3 4 5

In [ ]:
#20
for i in range(1,6):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

    1
   121
  12321
 1234321
123454321

In [ ]:
#21
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end='')
  print()

1
10
101
1010
10101

In [ ]:
#22
for i in range(1,6):
  for j in range(1,6):
    if(i==j):
      print(i,end='')
    else:
      print(0,end='')
  print()

10000
02000
00300
00040
00005

In [ ]:
#23
for i in range(1,6):
  print('1'*(5-i),end='')
  for j in range(1,i+1):
    print(i,end='')
  print()

11111
11122
11333
14444
55555

In [ ]:
#24
for i in range(1,6):
  for j in range(i,6):
    print(j,end='')
  for k in range(4,i-1,-1):
    print(k,end='')
  print()

123454321
2345432
34543
454
5

In [ ]:
#25
for i in range(1,6):
  print(' '*(5-i),end='')
  for j in range(1,i+1):
    print(i,end=' ')
  print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [ ]:
#26
for  i in range(5,0,-1):
  print('5'*(i-1),end='')
  for j in range(i,6):
    print(j,end='')
  print()

55555
55545
55345
52345
12345

In [ ]:
#27

In [ ]:
#31
for i in range(5,0,-1):
  for j in range(5,i-1,-1):
    print(j,end='')
  for k in range(1,i):
     print(i,end='')  
  print()

55555
54444
54333
54322
54321

5555
444
33
2

In [ ]:
for i in range(5,0,-1):
    print("X"*i)

XXXXX
XXXX
XXX
XX
X

In [ ]:
for i in range(1,6,1):
  print("*"*i)

*
**
***
****
*****

In [ ]:
for i in range(1,6,1):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print("*",end='')
  print()

    *
   **
  ***
 ****
*****

In [ ]:
for i in range(1,6):
        for j in range(1, i + 1):
            print(chr(ord('A') + j - 1),end =' ')
        print()

A
A B
A B C
A B C D
A B C D E

In [ ]:
for i in range(1,6):
        for j in range(5, i - 1, -1):
            print(chr(ord('A') - 1 + i),end = " ")
        print("")

A A A A A
B B B B
C C C
D D
E

In [ ]:
for i in range(1,6):
        for j in range(i, 0, -1):
            print(chr(ord('A') + j - 1), end = " ")
        print()

A
B A
C B A
D C B A
E D C B A

In [ ]:
for i in range(5,0,-1):
    for j in range(1,i + 1,1):
        print(chr(ord('p') - 1 + i),end = ' ')
    print()

t t t t t
s s s s
r r r
q q
p

In [ ]:
for i in range(1,6):
  for j in range(i,6):
    print(chr(ord('A')-1 + j),end=' ')
  print()

A B C D E
B C D E
C D E
D E
E

In [ ]:
for i in range(5,0,-1):
  print(" "*i,end='')
  for j in range(i,6):
    print(chr(ord('A')+j-1),end='')
  print()

     E
    DE
   CDE
  BCDE
 ABCDE

In [ ]:
for i in range(1,6):
  print(" "*(5-i),end='')
  for j in range(1,i+1):
    print(chr(ord('A')+j-1),end='')
  print()

    A
   AB
  ABC
 ABCD
ABCDE

In [ ]:
for i in range(1,6):
        for j in range(1, i+1):
            print(chr(ord('A')+i -1),end = " ")
        print("")

A
B B
C C C
D D D D
E E E E E

In [ ]:
a=input("enter  ")
for i in range(1,len(a)+1):
  print(a[:i])

enter  python
p
py
pyt
pyth
pytho
python